.auto-style1F {
    width: 100%;
}

.auto-style3F {
    width: 395px;
}

.auto-style6F {
    width: 395px;
    height: 43px;
}

.auto-style7F {
    height: 43px;
}

.auto-style8F {
    width: 395px;
    height: 36px;
}

.auto-style9F{
    height: 36px;
}

.auto-style10F {
    width: 395px;
    height: 41px;
}

.auto-style11F {
    height: 41px;
}

.auto-style12F {
    width: 395px;
    font-size: x-large;
    color: #660066;
}
